body{
  font-size: 15px;
}


.topnav {
  background-color: #333;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position:fixed; 
  width: 100%;
  top: 0;
  z-index: 1030; /* to prevent the navbar getting covered up by other content */
}

.topnav a {
  display: inline-block; /* Change from flex to inline-block */
  padding: 1rem;
  text-decoration: none;
  background-color: #333;
  color: white; /* Add text color */
  font-size: 1.25rem;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#personal-pic {
  display: flex;
  justify-content: center;
  align-self: center;
  border-radius: 50%;
}
.header-container h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header-container p {
  font-family:Georgia, 'Times New Roman', Times, serif;
  
}

#intro-text {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
}


.separation-container{
  display:flex;
  justify-content: center;
font-size: 2.5rem;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #343a40!important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.container h2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container p{
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:grey;
}

.projects-container{
  display: flex;
  flex-direction:center;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 3rem;

}

.projects-container p{
  justify-content: center;
}

#weatherly{
  
  border: .66rem solid black;
  border-radius: 10%;
}
.weatherly-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weatherly-container > p {
  font-size: 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:#343a40!important;
}

.weatherly-note{
  font-size: 1rem !important;
}

#laptop-finder{
  border: .66rem solid rgb(225, 220, 220);
  border-radius: 10%;
}

.container-about-me{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows:1fr 1fr 1fr 1fr; 
  justify-items: center;
  text-align:center;
  gap: 1rem;
  grid-gap: 0;
  margin:5rem;
  
  
}

.hiking, .coding, .gaming, .cooking{
  
  display:flex;
  justify-content: center;
  align-items: center;
  /* border:.5rem solid black; */
}

.hiking p, .coding p, .gaming p, .cooking p{
  margin: 0 3rem;
}

.hiking-image, .gaming-image, .cooking-image{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 100%;
  /* border:.5rem solid black; */
}

.hiking-image img{
  border-radius: 10%;
  border: 1rem solid #f3f3f3;
}

.coding-image{
  display:flex;
  justify-content: center;
  align-items: center;
  /* border:.5rem solid black; */
}
#pic-of-coding{
  margin-top:3%;
  width:85%;
  border-radius: 10%;
  border: 1rem solid #f3f3f3;
}

#pic-of-gaming, #pic-of-cooking{
  margin-top: 3%;
  width:85%;
  border-radius: 10%;
  border: 1rem solid #f3f3f3;
}

#about-me-title{
  color:black
}

.container{
  display:flex; 
  justify-content: center;
  align-items: center;
}

.contact-me{
  text-align: center;
}  

